Package: nano-tiny
Source: nano
Version: 3.2-1
Architecture: amd64
Maintainer: Jordi Mallach <jordi@debian.org>
Installed-Size: 174
Depends: libc6 (>= 2.4), libslang2 (>= 2.2.4)
Section: editors
Priority: optional
Homepage: https://www.nano-editor.org/
Description: small, friendly text editor inspired by Pico - tiny build
 GNU nano is an easy-to-use text editor originally designed as a replacement
 for Pico, the ncurses-based editor from the non-free mailer package Pine
 (itself now available under the Apache License as Alpine).
 .
 This package contains a build of GNU nano with many features disabled, for
 environments such as rescue disks where resources are limited.
